<div class="flex min-h-full items-stretch justify-center text-center md:items-center md:px-2 lg:px-4">

  <div class="flex w-full transform text-left text-base transition md:my-8 md:max-w-4xl md:px-4 lg:max-w-6xl">
    <div class="relative w-full items-center overflow-hidden bg-white pt-14 pb-8 shadow-2xl sm:px-6 sm:pt-8">
      <div class="grid grid-cols-2 gap-4 bg-white">
        <div class="overflow-y-auto py-6 px-4 sm:px-6">
          <div class="flex items-start justify-between">
            <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Shopping cart</h2>
          </div>

          <div class="mt-8">
            <div class="flow-root">
              <ul role="list" class="-my-6 divide-y divide-gray-200">
                <li class="flex py-6" *ngFor="let product of products">
                  <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                    <img src="{{product.url}}" alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt." class="h-full w-full object-cover object-center">
                  </div>

                  <div class="ml-4 flex flex-1 flex-col">
                    <div>
                      <div class="flex justify-between text-base font-medium text-gray-900">
                        <h3>
                          <a routerLink="/product/{{product.id}}">{{ product.name }}</a>
                        </h3>
                        <p class="ml-4">{{product.price | currency}}</p>
                      </div>
                      <p class="mt-1 text-sm text-gray-500">{{product.description}}</p>
                    </div>
                    <div class="flex flex-1 items-end justify-between text-sm">
                      <p class="text-gray-800">Qty {{product.quantity}}</p>

                      <div class="flex">
                        <button (click)="removeFromCart(product)" class="font-medium text-indigo-600 hover:text-indigo-500">Remove</button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="mt-8 border-t border-gray-200 py-6S">
            <div class="flex justify-between text-base font-medium text-gray-900">
              <p>Subtotal</p>
              <p>{{cartTotal | currency}}</p>
            </div>
          </div>
        </div>

        <!-- Add Checkout here -->
        <app-checkout-form [cartTotal]="cartTotal"></app-checkout-form>
      </div>
    </div>
  </div>
</div>
