<!-- component -->
<div class="leading-loose">
  <form #form="ngForm" (ngSubmit)="submitForm()" class="max-w-xl m-4 p-10 bg-white rounded shadow-xl">
    <p class="text-gray-800 font-medium">Customer information</p>
    <div class="">
      <label class="block text-sm text-gray-00" for="cus_name">Full Name</label>
      <input
        class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded"
        id="cus_name"
        name="cus_name"
        type="text"
        required
        placeholder="Full Name"
        aria-label="Full Name"
        minlength="5"
        [(ngModel)]="cus_name"
        #fullName="ngModel"
      >

      <!-- Full name Error handling -->
      <div *ngIf="fullName.invalid && fullName.dirty" class="text-red-400 text-sm">
        <div *ngIf="fullName.errors?.['required']">
          Full name is required
        </div>
        <div *ngIf="fullName.errors?.['minlength']">
          Full name must contain at least 5 characters.
        </div>
      </div>
    </div>
    <div class="mt-2">
      <label class=" block text-sm text-gray-600" for="cus_email">Address</label>
      <input
        class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded"
        id="cus_address"
        name="cus_address"
        type="text"
        required=""
        placeholder="Street Address"
        aria-label="Street Address"
        minlength="10"
        [(ngModel)]="cus_address"
        #address="ngModel"
      >
      <!-- Address Error handling -->
      <div *ngIf="address.invalid && address.dirty" class="text-red-400 text-sm">
        <div *ngIf="address.errors?.['required']">
          Address is required
        </div>
        <div *ngIf="address.errors?.['minlength']">
          Address must contain at least 10 characters.
        </div>
      </div>
    </div>
    <p class="mt-4 text-gray-800 font-medium">Payment information</p>
    <div class="">
      <label class="block text-sm text-gray-600" for="cus_name">Card</label>
      <input
        class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded"
        id="cus_card_number"
        name="cus_card_number"
        type="text"
        required=""
        placeholder="16 Digit Card Number"
        aria-label="16 Digit Card Number"
        minlength="16"
        maxlength="16"
        [(ngModel)]="cus_card_number"
        #card="ngModel"
      >
      <!-- Card Error handling -->
      <div *ngIf="card.invalid && card.dirty" class="text-red-400 text-sm">
        <div *ngIf="card.errors?.['required']">
          16 Digit Card Number is required
        </div>
        <div *ngIf="card.errors?.['minlength']">
          16 Digit Card Number must contain at least 16 characters.
        </div>
        <div *ngIf="card.errors?.['maxlength']">
          16 Digit Card Number must have 16 characters.
        </div>
      </div>
    </div>
    <div class="mt-4">
      <button type="submit" [disabled]="form.invalid" class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" type="submit">Pay {{cartTotal | currency}}</button>
    </div>
  </form>
</div>
